KERNEL=="*", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ACTION=="add", ATTR{idVendor}=="27ae", ATTR{idProduct}=="1013", MODE="660", GROUP="plugdev", RUN+="/usr/local/bin/upload_fx3.sh /etc/TeleOrbit/teleorbit.img"
KERNEL=="*", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ACTION=="add", ATTR{idVendor}=="27ae", ATTR{idProduct}=="1014", MODE="660", GROUP="plugdev", RUN+="dbus-send --system /de/fraunhofer/iis/Flexiband de.fraunhofer.iis.Flexiband.DeviceAdded"
KERNEL=="*", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ACTION=="remove", ATTR{idVendor}=="27ae", ATTR{idProduct}=="1014", RUN+="dbus-send --system /de/fraunhofer/iis/Flexiband de.fraunhofer.iis.Flexiband.DeviceRemoved"
KERNEL=="*", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ACTION=="add", ATTR{idVendor}=="27ae", ATTR{idProduct}=="1015", MODE="660", GROUP="plugdev", RUN+="/usr/local/bin/upload_fx3.sh /etc/TeleOrbit/teleorbit.img"
KERNEL=="*", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ACTION=="add", ATTR{idVendor}=="27ae", ATTR{idProduct}=="1016", MODE="660", GROUP="plugdev", RUN+="dbus-send --system /de/fraunhofer/iis/Flexiband de.fraunhofer.iis.Flexiband.DeviceAdded"
KERNEL=="*", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ACTION=="remove", ATTR{idVendor}=="27ae", ATTR{idProduct}=="1016", RUN+="dbus-send --system /de/fraunhofer/iis/Flexiband de.fraunhofer.iis.Flexiband.DeviceRemoved"
