KERNEL=="*", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ACTION=="add", ATTR{idVendor}=="27ae", ATTR{idProduct}=="10C1", MODE="660", GROUP="plugdev", RUN+="/usr/local/bin/upload_fx3.sh -b $attr{busnum} -d $attr{devnum} /etc/TeleOrbit/flexiband.img"
KERNEL=="*", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ACTION=="add", ATTR{idVendor}=="27ae", ATTR{idProduct}=="10C2", MODE="660", GROUP="plugdev", RUN+="/usr/bin/dbus-send --system /de/fraunhofer/iis/Flexiband de.fraunhofer.iis.Flexiband.DeviceAdded"
KERNEL=="*", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ACTION=="remove", ENV{PRODUCT}=="27ae/10c2/100", RUN+="/usr/bin/dbus-send --system /de/fraunhofer/iis/Flexiband de.fraunhofer.iis.Flexiband.DeviceRemoved"
